<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:label="kibbie"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <service
            android:name=".MyIME"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:exported="true">

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>
</manifest>
